@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@media screen and (min-width: 1024px) {
    body {
    font-size: 100%;
    }
    }
*{
    font-family: 'Lato', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
h1,h2,h3,h5,h6, span{
    color: #242424;
    text-align: center;
    line-height: 1.25;
}
h4
{
    color: #f2f2f2;
    text-align: center;
    float: left;
    text-decoration: none;
    text-transform: uppercase;
    padding: 14px 16px;
    letter-spacing: 5px;
    line-height: 1.25;
    font-size: 17px;
}


/* TOP NAVIGATION BAR CODE*/
/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
  }
  /* Style the links inside the navigation bar */
  .topnav a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  /* Add a color to the active/current link */
  .topnav a.active {
    background: linear-gradient(to bottom, #33ccff 0%, #5967b7 100%);
    color: white;
  }
  
/*Align text to the image*/
.container p{
    width: 35%;
    margin-left: 200px;
    text-align: center;
}

/* ReESIZE MY FACE CODE*/
.container img {
    margin-left: 350px;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 15%;
    height: 450px;
  }

  /* ReESIZE MY HEADER CODE*/
  .container h3{
margin-right: 600px;
margin-top: 20px;

}

/* ReESIZE MY VIDEO BORDER AND POSITION CODE*/
video{
    width: 400px;
    background-color: #242424;
    padding: 15px;
    border:2px #f2f2f2;
    right: 20%;
    position: absolute;
    transform:translateY(-222%)
    translateX(15%)
    
}

.text-left-right {
    text-align: right;
    margin-right: 290px;
    position: relative;
    transform:translateY(-2300%)
}

.left-text {
    left: 0;
    position: absolute;
    margin-left: 420px;
    transform: translateY(-18px);
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background: linear-gradient(to bottom, #33ccff 0%, #5967b7 100%);
  }
  
  .flex-container > div {
    background: linear-gradient(to bottom, #33ccff 0%, #5967b7 100%);
    width: 300px;
    height: 300px;
    margin: 10px;
  }

  .flex-container2 {
    width: 95%;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: antiquewhite;
    font-size: 20px;
  }
  .contact-title{
margin-top: 100px;
text-transform: uppercase;
  }

  .contact-title h2{
    font-size: 48px;
    line-height: 5px;
  }

  .contact-title h3{
    margin-top: 40px;
    font-size: 32px;
    line-height: 5px;
  }
  
  form{
    margin-top: 40px;

  }

  .form-control{
    margin-left: 520px;
    width: 500px;
   border-width: 2px;
   border-style: ridge;
  }






  
  body{
    background-color: antiquewhite;
  }


